node_modules/
.next/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
test.js
ios/
android/
.bundle/
__tests__

# macOS
.DS_Store

# vscode debugger
.vscode/.react/

# app.json
app.json

# .env
.env